<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div class="alert">
      <%= alert %>
    </div>
    <% if user_signed_in? %>
      <header class="signed-in-header">
        <h3>Company</h3>
        <%= link_to "Me", "/me", class: "header-button" %>
        <%= link_to "Events", events_path, class: "header-button" %>
        <%= link_to "Categories", categories_path, class: "header-button" %>
      </header>
    <% end %>

    <%= yield %>


  </body>
</html>
